body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
}

.item {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#cashBalance {
    font-weight: bold;
    color: #007bff;
}

#purchaseAmountDisplay {
    font-weight: bold;
    color: #008000;
}

.container p.purchase-info {
    color: #777;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 15px;
}

.container p.remaining-balance {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
}